@font-face {
font-family: 'Proxima Nova Regular';
src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
src: url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Bold Italic';
	src: url('../fonts/ProximaNova/ProximaNova-BoldIt.eot');
	src: url('../fonts/ProximaNova/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-BoldIt.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-BoldIt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('../fonts/ProximaNova/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Black';
	src: url('../fonts/ProximaNova/ProximaNova-Black.eot');
	src: url('../fonts/ProximaNova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-Black.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Light';
	src: url('../fonts/ProximaNova/PProximaNova-Light.eot');
	src: url('../fonts/ProximaNova/PProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/PProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova/PProximaNova-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Extra Bold';
	src: url('../fonts/ProximaNova/ProximaNova-Extrabld.eot');
	src: url('../fonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-Extrabld.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-Extrabld.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Italic';
	src: url('../fonts/ProximaNova/ProximaNova-RegularIt.eot');
	src: url('../fonts/ProximaNova/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-RegularIt.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-RegularIt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@mixin regularIt {
	font-family: 'Proxima Nova Italic';
	font-weight: 400
}

@mixin extraBold {
	font-family: 'Proxima Nova Extra Bold';
	font-weight: 400
}

@mixin light {
	font-family: 'Proxima Nova Light';
	font-weight: 300
}

@mixin black {
	font-family: 'Proxima Nova Black';
	font-weight: 400
}
@mixin boldIt {
	font-family: 'Proxima Nova Bold Italic';
	font-weight: 400
}

@mixin regular {
	font-family: 'Proxima Nova Regular';
	font-weight: 400;
}

@mixin semiBold {
	font-family: 'Proxima Nova Semibold';
	font-weight: 400;
}