.header
	width: 100%
	background: linear-gradient(to right, white 55%, $background-color 45%)
.header-block 
	display: flex
	&__nav
		padding: 8px 0 
		display: flex
		align-items: center
		flex-basis: 57%
	&__contacts
		flex-basis: 43%
.navigation
	display: flex
	&__block
		display: flex
		flex-direction: column
		align-items: center
	&__logo
		margin-top: 2px
		text-transform: uppercase
		font-size: 15px
		+boldIt
	&__list
		margin-left: 135px
		list-style: none
		padding: 0
	&__item
		display: inline
	&__text
		text-decoration: none
		color: $text-color
		position: relative
		transition: 0.2s
		&:before
			content: ''
			display: block
			position: absolute
			bottom: -3px
			left: 0
			height: 2px
			width: 100%
			opacity: 0
			background-color: $main-color
			transition: 0.4s		
		&:hover
			color: $main-color
			&:before
				opacity: 1
	&__stick
		display: inline-block
		width: 1px
		height: 12px
		background-color: $text-color
		opacity: 0.15
		margin-right: 10px
		margin-left: 10px
.contacts
	display: flex
	align-items: center
	&__block
		display: flex
		align-items: center
	&__img
		margin-left: 50px
	&__tel
		text-decoration: none
		color: $text-color
		margin-left: 6px
		margin-right: 43px
.hamburger
	display: none
	width: 30px
	height: 30px

.header_mobile
	.header-block
		.navigation
			justify-content: space-between
			flex-wrap: wrap
			&__block
				order: 0
			&__nav
				order: 2
				width: 100%
			&__item
				text-align: center
		.hamburger
			order: 1
			display: block
			
// header.mobile .headerInner {
//   -webkit-box-pack: justify;
//   -webkit-justify-content: space-between;
//       -ms-flex-pack: justify;
//           justify-content: space-between;
//   -webkit-flex-wrap: wrap;
//       -ms-flex-wrap: wrap;
//           flex-wrap: wrap; }
//   header.mobile .headerInner .logo {
//     -webkit-box-ordinal-group: 1;
//     -webkit-order: 0;
//         -ms-flex-order: 0;
//             order: 0; }
//   header.mobile .headerInner .menu {
//     -webkit-box-ordinal-group: 3;
//     -webkit-order: 2;
//         -ms-flex-order: 2;
//             order: 2;
//     width: 100%; }
//     header.mobile .headerInner .menu .part {
//       text-align: center; }
//   header.mobile .headerInner .hamburger {
//     -webkit-box-ordinal-group: 2;
//     -webkit-order: 1;
//         -ms-flex-order: 1;
//             order: 1;
//     display: block; }





@media (max-width: 1200px)
	.navigation
		&__list
			margin-left: 40px
	.contacts
		&__img
			margin-left: 20px
@media (max-width: 992px)
	.header
		background: white
		&-block
			align-items: center
			&__nav
				flex-basis: 70%
	.contacts
		flex-basis: 30%
		flex-direction: column
		&__block
			margin-bottom: 10px
		&__tel
			margin: 0
		&__img
			margin: 0
	.navigation
		&__list
			margin-left: 30px
		&__text
			&:hover
				color: $text-color
				&:before
					opacity: 0
@media (max-width: 767px)
	.contacts
		display: none
	.navigation
		flex-basis: 100%
		&__stick
			display: none
		&__list
			margin: 0
		&__item
			display: block
			margin: auto
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0	
		


			
			