
.slick-dots
	position: absolute
	bottom: 45px
.slick-dots li button
	background: url(../img/hero/dot.jpg)
	position: absolute
	text-indent: -9999px
	overflow: hidden
	transition: 0.2s
	&:hover
		background: url(../img/hero/dot-hover.jpg)
.slider
	max-height: 742px
	&__img
		max-height: 742px
		width: 100%
.hero
	&-section
		width: 100%
		position: relative
		max-height: 742px
		&__text
			position: absolute
			top: 0
			left: 175px
	&__title
		margin-top: 211px
		margin-bottom: 0
		+semiBold
		font-size: 35px
		line-height: 55px
		text-transform: uppercase
		color: $main-color
	&__subtitle
		margin-top: 0
		line-height: 55px
		font-size: 35px
		color: white
	&__description
		line-height: 28px
		font-weight: 300
		font-size: 20px
		opacity: 0.42
		color: white
	&__button
		margin-top: 50px
		width: 185px
		height: 44px
		line-height: 40px
		display: block
		font-size: 18px
		text-transform: uppercase
		+semiBold
			
		


